@import url('https://fonts.googleapis.com/css2?family=Manrope');

*, *::after { box-sizing: border-box; }

* { 
	margin: 0;
	padding: 0;
	font: inherit;
	font-family: Manrope;
	line-height: 1.8;
}

body {
	min-height: 100vh;
	background-color: hsl(13, 31%, 94%);
}

main {
	width: 1240px;
	margin: 90px 100px;
}

h1 {
	font-weight: 700;
	font-size: 25px;
}

.container {
	width: 870px;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.card {
	flex-basis: calc(33.33% - 20px) ;
}

.card > button {
	display: block;
	width: 150px;
	height: 40px;
	font-weight: 600;
	background-color: white;
	border: 1px solid hsl(12, 20%, 44%);
	border-radius: 5%;
	margin: 0px auto;
	position: relative;
	bottom: 20px;
}

.card > button > p {
	display: inline-block;
}

.card > img {
	display: block;
	max-width: 100%;
	border-radius: 5%;
}

.card > h2 {
	font-weight: 400;
	color: hsl(12, 20%, 44%);
}

.card > h3 {
	font-weight: 700;
}

.card > h4 {
	font-weight: 600;
	color: hsl(14, 86%, 42%);
}
